body {
	background-color: rgb(39, 43, 53);
	box-sizing: border-box;
}

.article-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
	max-width: 1200px;
	padding: 2rem;
	margin: auto;
	justify-items: center;
}

.article {

	margin-bottom: 2rem;
	padding: 1rem;
	background-color: rgb(234, 242, 248);
	min-width: 200px;
	box-shadow: 5px 5px 5px rgb(5, 31, 60);
	float: left;
}

.article img {
	width: 100%;
}

.article h3:hover {
	color: #581383;
}

.article:hover {
	box-shadow: 10px 10px 5px rgb(5, 31, 60);
	background-color: #ffffff;
}

.searchbar {
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: auto;
	border: none;
}

.searchbar input {
	padding: 1rem;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	background-color: #c4ecef;
}

/* BUTTONS */

.buttons {
	display: flex;
	gap: 2rem;
	justify-content: space-around;
	padding: 2rem;
	max-width: 1200px;
	margin: auto;
	flex-wrap: wrap;
}

.buttons button {
	margin: 0;
	width: 110px;
}

.btn-grad {
	background-image: linear-gradient(
		to right,
		#d755d7 0%,
		#249ad1 51%,
		#73dffd 100%
	);
	margin: 2rem;
	margin-left: 0;
	margin-bottom: 0;
	padding: 10px 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 550;
	font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 5px 5px 5px rgb(16, 7, 74);
	border-radius: 10px;
	display: block;
	border: 3px rgb(255, 255, 255);
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	background-image: linear-gradient(
		-225deg,
		#eaf6a6 0%,
		#ab72e8 29%,
		#ff1361 67%,
		#fff800 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 4s linear infinite;
	animation-duration: 3s;
	margin: 10px 10px;
	font-size: 70px;
	font-style: italic;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

#card-button {
	font-size: 16px;
	padding:10px 26px;}
	
/* }
/* ul{
	display: none;
} 
li {
	display: block;
	transition-duration: 0.5s;
   }
   
   li:hover {
	 cursor: pointer;
   }
   
   ul li ul {
	 visibility: hidden;
	 opacity: 0;
	 position: absolute;
	 transition: all 0.5s ease;
	 margin-top: 1rem;
	 left: 0;
	 display: none;
   }
   
   ul li:hover > ul,
   ul li ul:hover {
	 visibility: visible;
	 opacity: 1;
	 display: block;
   }
   
   ul li ul li {
	 clear: both;
	 width: 100%;
   } */

@media only screen and (max-width: 600px) {
	.article-list {
		margin: auto;
		grid-template-columns: 1fr;
	}
	/* .buttons button{
		display: none;
	} */
	/* ul{
		display:block;
	} */
}

@media only screen and (min-width: 600px) and (max-width: 1050px) {
	.article-list {
		margin: auto;
		grid-template-columns: 1fr 1fr;
	}
	
}